Dotnet/AspNetDemo/bin/Debug/netcoreapp3.1/appsettings.Development.json
Dotnet/AspNetDemo/bin/Debug/netcoreapp3.1/appsettings.json
Dotnet/AspNetDemo/bin/Debug/netcoreapp3.1/AspNetDemo.deps.json
Dotnet/AspNetDemo/bin/Debug/netcoreapp3.1/AspNetDemo.dll
Dotnet/AspNetDemo/bin/Debug/netcoreapp3.1/AspNetDemo.exe
Dotnet/AspNetDemo/bin/Debug/netcoreapp3.1/AspNetDemo.pdb
Dotnet/AspNetDemo/bin/Debug/netcoreapp3.1/AspNetDemo.runtimeconfig.dev.json
Dotnet/AspNetDemo/bin/Debug/netcoreapp3.1/AspNetDemo.runtimeconfig.json
Dotnet/AspNetDemo/bin/Debug/netcoreapp3.1/AspNetDemo.Views.dll
Dotnet/AspNetDemo/bin/Debug/netcoreapp3.1/AspNetDemo.Views.pdb
Dotnet/AspNetDemo/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Dotnet/AspNetDemo/obj/AspNetDemo.csproj.nuget.dgspec.json
Dotnet/AspNetDemo/obj/AspNetDemo.csproj.nuget.g.props
Dotnet/AspNetDemo/obj/AspNetDemo.csproj.nuget.g.targets
Dotnet/AspNetDemo/obj/project.assets.json
Dotnet/AspNetDemo/obj/project.nuget.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.AssemblyInfo.cs
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.AssemblyInfoInputs.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.assets.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.csproj.CopyComplete
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.csproj.CoreCompileInputs.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.csproj.FileListAbsolute.txt
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.csprojAssemblyReference.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.dll
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.exe
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.genruntimeconfig.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.MvcApplicationPartsAssemblyInfo.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.pdb
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.RazorAssemblyInfo.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.RazorAssemblyInfo.cs
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.RazorCoreGenerate.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.RazorTargetAssemblyInfo.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.RazorTargetAssemblyInfo.cs
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.TagHelpers.input.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.TagHelpers.output.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.Views.dll
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/AspNetDemo.Views.pdb
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/project.razor.json
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/Razor/Views/Home/Miau.cshtml.g.cs
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/staticwebassets/AspNetDemo.StaticWebAssets.Manifest.cache
Dotnet/AspNetDemo/obj/Debug/netcoreapp3.1/staticwebassets/AspNetDemo.StaticWebAssets.xml
